langchain-community==0.2.7
openai==1.35.5
python-dotenv==1.0.1
pypdf==4.3.0
youtube-transcript-api==0.6.2
chromadb==0.5.4
pytube==15.0.0
tiktoken==0.7.0
numpy==1.26.4
lark==1.1.9
langchain-openai==0.1.17
panel==1.1.1
param==1.13.0
docarray==0.40.0
pydantic== 2.8.2