.idea/
/.vs/OpenAI-labs/FileContentIndex
/.vs/slnx.sqlite
/.idea/workspace.xml
/.idea/workspace.xml
**/.ipynb_checkpoints
.env
**/*.swo
**/__pycache__/
*.log
.DS_Store
.cache/

# Ignore node_modules directory
node_modules/

# Ignore .env file
.env
wandb/

package-lock.json
/27-database-agent/27/
/28-function-calling/28/
/29-pinecone/29/
/30-advanced_retrieval_for_AI_with_chroma/30
/31-reinforcement -learning-from-human-feedback/31
/32-diffusion-model/32
/33-prompt-compression-and-query-optimization/33
/34-langchain-chat-with-your-own-data/34
/35_LLM_With_Symantic_Search/35
/36-Functions-Tool-Agents-Langchain/36
/37-pretraining-llm/37
/38-AI-Agentic-Design-Patterns-with-AutoGen/38
/40-Vector-Databases-from-Embeddings-to-Applications/40
/41-building-genAI-app-with-gradio/41
/44-Building-Agentic-RAG-with-Llamaindex/44
/45-Multi-AI-Agent-Systems-with-crewAI/45
/46-Improving-Accuracy-of-LLMs/46
/47-Pair-Programming-with-a-Large-Language-Model/47
test.db
.virtual_documents/

