.idea/
/.vs/OpenAI-labs/FileContentIndex
/.vs/slnx.sqlite
/.idea/workspace.xml
/.idea/workspace.xml
**/.ipynb_checkpoints
.env
**/*.swo
**/__pycache__/
*.log
.DS_Store
.cache/

# Ignore node_modules directory
node_modules/

# Ignore .env file
.env
wandb/

package-lock.json
/27-database-agent/27/
