# requirements file
# note which revision of python, for example 3.9.6
# in this file, insert all the pip install needs, include revision

ai21==3.0.0
langchain-ai21==1.0.0
langchain==0.3.7
langchain-community==0.3.7
langchain-chroma==0.1.4
langchain-huggingface==0.1.2
sentence-transformers==3.3.0
python-dotenv==1.0.1
gradio==5.6.0

